<h1> Klasser </h1>
<a href="/classes/new"> Ny klass </a>
<ul>
    <%= for class <- classes do %>
        <li class="class">
            <a href="/classes/<%= class.id %>"><%=class.name%></a>
            <a href="/classes/<%= class.id %>/edit"><button>Edit</button></a>
            <form action="/classes/<%= class.id %>/destroy" method="post">
                <input type="submit" value="Delete">
            </form>
        </li>
    <% end %>
</ul>