<form action="/quiz_start" method="post">
    <select name="className">
        <% groups = classes %>
        <%= for group <- groups do %>
            <option value=<%= group.name %>><%= group.name %></option>   
        <% end %>         
    </select>
    <select name="difficulty">
        <option value="0">Easy</option>
        <option value="1">Medium</option>
        <option value="2">Hard</option>
    </select>
    <input type="submit" value="start">
</form>

 