<div class="main">
    <h1>WTF</h1>
    <p> (Patent pending..) </p>

    <div class="buttons">
        <a href="/classes" id="class_button" class="button home_button"> Klasser </a>
        <a href="/logout" id="logout_button" class="button home_button"> Logga ut </a>
        <a href="/difficulty" id="quiz_button" class="button home_button"> Quiz </a>
    </div>
</div>