<h1> Klass <%=className%> </h1>

<%= for student <- students do %>
    <li class="class">
        <img src="<%=student.img_path%>">
        <a href="/classes/student/<%= student.id %>"><%=student.name%></a>
    </li>
<% end %>

